h1 {
    font-family: arial;
}

.container {
    display:flex;
    justify-content: center;
}

img {
    border: 3px solid black;
    border-radius: 10px;
    margin:10px;
}
button {
  display:block;
}
